############################
# Required Env Variables
############################

DOCKER_HOST_NAME=example.com
MAIL_SMTP_SERVER=mail.example.com
MAIL_FROM=updater@example.com
MAIL_TO=janosch@example.com

############################
# Optional Env Variables
############################

# Defaults to 465
# MAIL_SMTP_SERVER_PORT=465

# If either MAIL_USER or MAIL_PASSWORD is empty there will be no login
# MAIL_USER=
# MAIL_PASSWORD=

# Defaults to INFO, can be CRITICAL, ERROR, WARNING, INFO or DEBUG
#
# LOGLEVEL=DEBUG
#
